/*Handles css for pong site*/

.board {
  position: relative;
  background-color: gray;
  border-radius: 15px;
  width: 100%;
  padding: 18%;
}

.paddle {
  height: 5%;
  width: 8%;
  position: absolute;
  bottom: 5px;
  left: 40%;
}

.center {
  text-align: center;
}